@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%; // 16px
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: ($base-line-height / $base-font-size) + em;
  background-color: $white;
  position: relative;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: darken($color-link, 20%);
  }
}

img {
  height: auto;
  width: 100%;
  margin: 0px auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-default;
  font-weight: $font-weight-bold;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-height/$base-font-size + em;
}

ul,
ol {
  padding-left: 20px;
}
