/* ===================================================================
  COMMON CONTENT TYPOGRAPHY
=================================================================== */
.text-highlight {
  @include font-size(20);
  line-height: em(26, 18);
  display: block;
  font-weight: $font-weight-light;
  // color: $color-primary;
  margin-bottom: 30px;

  @include for-tablet-portrait-up {
    @include font-size(24);
    line-height: em(36, 24);
    margin-bottom: 40px;
  }

  @include for-desktop-up {
    @include font-size(36);
    line-height: em(44, 36);
  }
}

.text-large {
  opacity: 0.9;
  font-weight: $font-weight-medium;
  font-size: 24px;
  color: #333333;
  line-height: em(34, 24);
}


/* Post Single Typography
------------------------------------------------------------------- */
.entry-content {
  p, ul, ol {
    margin-bottom: 1.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    border-left: 2px solid $color-text;

    @include for-tablet-portrait-up {
      margin-left: 70px;
    }
  }

  blockquote p {
    padding-left: 20px;
    @include font-size(12);
    line-height: em(26, 16);
  }

  p > img {
    margin-top: $gutter;
    margin-bottom: $gutter;

    @include for-desktop-up {
      margin-top: $gutter * 2;
      margin-bottom: $gutter * 2;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }
}

// h1, .h1 {
//   font-size: 2rem;
//   line-height: 2.76rem;
// }

// h2, .h2 {
//   font-size: 1.51572rem;
//   line-height: 2.07rem;
// }

// h3, .h3 {
//   font-size: 1.31951rem;
//   line-height: 2.07rem;
// }

// h4, .h4 {
//   font-size: 1rem;
//   line-height: 1.38rem;
// }

// h5, .h5 {
//   font-size: 0.87055rem;
//   line-height: 1.38rem;
// }

// h6, .h6 {
//   font-size: 0.81225rem;
//   line-height: 1.38rem;
// }

h1, .h1 {
  @include font-size(120);
  margin: 120px 0px;

  @include for-tablet-portrait-up {
    @include font-size(120);
    line-height: 120px;
  }
}

h2, .h2 {
  @include font-size(48);
  line-height: 60px;

  @include for-tablet-portrait-up {
    @include font-size(48);
    line-height: 60px;
  }
}

h3, .h3 {
  @include font-size(40);
  line-height: 50px;

  @include for-tablet-portrait-up {
    @include font-size(40);
    line-height: 50px;
  }
}

h4, .h4 {
  @include font-size(48);
  line-height: 38px;

  @include for-tablet-portrait-up {
    @include font-size(48);
    line-height: 38px;
  }
}

h5, .h5 {
  @include font-size(45);
  line-height: 40px;
  margin-bottom: 120px;
}

h6, .h6 {
  @include font-size(30);
  line-height: 40px;
}


hr,
.divider {
  height: 1px;
  background-color: $color-gray;
  margin-top: $gutter;
  margin-bottom: $gutter;
  border: 0;

  @include for-tablet-portrait-up {
    margin-top: $gutter * 2;
    margin-bottom: $gutter * 2;
  }
}

blockquote+h2,
blockquote+h3,
blockquote+h4,
blockquote+header h2,
form+h2,
form+h3,
form+h4,
form+header h2,
ol+h2,
ol+h3,
ol+h4,
ol+header h2,
p+h2,
p+h3,
p+h4,
p+header h2,
table+h2,
table+h3,
table+h4,
table+header h2,
ul+h2,
ul+h3,
ul+h4,
ul+header h2 {
  margin-top: 2em;
}

.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.aligncenter,
img.aligncenter {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
}

p .alignnone {
  margin-bottom: 0;
}

.wp-caption {
  margin-bottom: 40px;
  padding-top: 5px;
  width: auto;
  max-width: 100%;

  @include for-tablet-landscape-up {
    margin-bottom: 60px;
  }
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 10px;
}

.wp-caption-text {
  @include font-size(16);
  color: #666;
  text-align: left;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  display: inline;
  float: left;
  margin-right: 1.5em;
  text-align: right;
  margin-left: 0;
  width: 33%;
}

blockquote.right {
  display: inline;
  float: right;
  margin-left: 1.5em;
  text-align: left;
  margin-right: 0;
  width: 33%;
}

.fit-vids-style {
  display: none;
}

.entry-content li {
  line-height: em(22);
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .alignleft,
  img.alignleft,
  .alignright,
  img.alignright {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-item img {
  border: 0 !important;
}

.entry-content .gallery {
  margin-top: 60px !important;
}

@media (max-width: 767px) {
  .gallery-item {
    width: 33.3% !important;
  }
}

@media (max-width: 414px) {
  .gallery-item {
    width: 50% !important;
  }
}

@media (max-width: 320px) {
  .gallery-item {
    width: 100% !important;
  }
}

/* CSS grid Gallery
------------------------------------------------------------------- */
.cssgrid {
  .gallery-item {
    width: auto !important;
    float: none !important;
    margin: 0 !important;
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }

  .gallery-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    br {
      display: none;
    }
  }

  @include for-tablet-portrait-up {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include for-tablet-landscape-up {
    $gallery-column: 1 2 3 4 5 6 7 8 9;
    @each $column in $gallery-column {
      .gallery-columns-#{$column} {
        grid-template-columns: repeat($column, 1fr);
      }
    }
  }
}