#countdown {
    text-align: center;
    width: 100%;
    position: absolute;
    color: $color-secondary;
    top: 50%;
    list-style: none;
    li {
        display: inline-block;
        font-size: 20px;
        padding: 0.5rem;
        span {
            display: block;
            font-size: 40px;
            padding-bottom: 20px;
        }
    }
}