/* ===================================================================
  TABLES
=================================================================== */
table {
  width: 100%;
  margin-bottom: 40px;
  table-layout: fixed;
  border-top: 1px solid $color-gray;

  th, td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    // vertical-align: top;
    border-bottom: 1px solid $color-gray;
    padding-right: $gutter;
  }

  .no-border {
    border-color: transparent;
  }

  .small-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.table--no-border-top {
  border-top: 0;
}


/* Table Head
------------------------------------------------------------------- */
table thead {
  th {
    font-weight: $font-weight-normal;
    color: $color-gray-1;
  }
}