.stamp-seal {
    background-image: url("/assets/images/stamp-seal.png");
    background-repeat: no-repeat;
    height: 87px;
    width: 100%;
    text-align: center;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 55%;
}