/* ===================================================================
  MAIN NAVIGATION
=================================================================== */
.main-nav {
  text-align: right;

  ul {
    @include reset-list;
  }

  li {
    display: inline-block;
    margin-left: $gutter;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    @include font-size(18);
    line-height: em(22, 18);
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: $font-weight-medium;
    color: $white;
    display: block;

    // .js-sticky-bar & {
    //   color: $color-text;
    // }
  }

  a:hover,
  .current-menu-item > a,
  .sfHover > a {
    // color: $color-link;
    text-decoration: underline;
  }

  .menu-highlight > a {
    background-color: $color-primary;
    padding: 14px 20px;
  }
}

/* Sub Menu
------------------------------------------------------------------- */
.main-nav ul .sub-menu {
  width: 204px;
  background: $white;
  box-shadow: 0 1px 2px rgba(#000, 0.1);
  text-align: left;
  margin-top: 10px;
  margin-left: -10px;

  .js-sticky-bar & {
    display: none !important;
  }

  li {
    display: block;
    margin: 0;
  }

  a {
    @include font-size(14);
    color: $color-text;
    font-weight: $font-weight-normal;
    padding: 10px;
  }
}