/* ===================================================================
  FORM: TEXT FIELD
=================================================================== */
.form-label {
  @include font-size(14);
  line-height: em(18, 14);
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: $font-weight-medium;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="date"],
textarea {
  border: 2px solid #ddd;
  padding: 15px 20px;
  width: 100%;
  color: $color-text;
  background-color: $white;
  box-sizing: border-box;
  @include font-size(18);
  line-height: em(25, 18);

  &:focus {
    outline: 0;
    box-shadow: 0 0 5px 2px rgba(#000, .1);
  }

  &:disabled {
    color: $color-gray-1;
  }

  &::placeholder {
    color: #aaa;
  }
}

textarea {
  resize: vertical;
}