// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$white:                     #fff;
$black:                     #000;
$dark:                      #222;

// main color palette
// =============
$color-primary:             #715425;
$color-secondary:           #4b422f;

// Common colors
$color-background:          $white;
$color-text:                #715425;
$color-gray:                #ccc;
$color-gray-1:              #999;
$color-gray-2:              #eee;
$color-form-background:     #F5F5F5;

// Links
$color-link:                $color-secondary;
$color-link-hover:          darken($color-link, 15%);

// Code
$color-code:                $color-text;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      $color-text;

// Selections
$color-selection:           $color-primary;

// Messages
$color-success: #D7E8C5;
$color-success-text: #3E763A;
$color-success-border: #D7E8C5;

$color-warning: #FDF8E2;
$color-warning-text: #8C6E3A;
$color-warning-border: #FBEBCB;

$color-error: #f2dede;
$color-error-text: #a94442;
$color-error-border: #ebccd1;

$color-info: #d9edf7;
$color-info-text: #31708f;
$color-info-border: #bce8f1;