/* ===================================================================
  BUTTON COLORS
=================================================================== */
$outline-button: true;

/* Primary Color
------------------------------------------------------------------- */
.button--primary {
  color: $white;
  background-color: $color-primary;
  border-color: $color-primary;

  @include hover() {
    color: $white;
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $color-primary;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}

/* Secondary Color
------------------------------------------------------------------- */
.button--secondary {
  color: $white;
  background-color: $color-secondary;
  border-color: $color-secondary;

  @include hover() {
    color: $white;
    background-color: darken($color-secondary, 5%);
    border-color: darken($color-secondary, 5%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $color-secondary;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color-secondary;
        border-color: $color-secondary;
      }
    }
  }
}

/* Button Dark
------------------------------------------------------------------- */
.button--dark {
  color: $white;
  background-color: $color-text;
  border-color: $color-text;

  @include hover() {
    color: $white;
    background-color: darken($color-text, 15%);
    border-color: darken($color-text, 15%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $color-text;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color-text;
        border-color: $color-text;
      }
    }
  }
}

/* Button Light
------------------------------------------------------------------- */
.button--light {
  color: $color-text;
  background-color: $white;
  border-color: $white;

  @include hover() {
    color: $color-text;
    background-color: darken($white, 15%);
    border-color: darken($white, 15%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $white;
      background-color: transparent;

      &:hover {
        color: $color-text;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}