.envelope {
    position: relative;
    bottom: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-right: 20px;
    padding-left: 20px;

    .paper {
        width: 95%;
        background-image: url("/assets/images/papertexture.png");
        background-repeat: repeat-y;
        background-size: contain;
        text-align: center;
        margin: 0px auto;
        color: #715425;
        margin-bottom: 150px;
        animation: out 1s infinite linear;
        position: relative;
        z-index: 1;
        .text {
            padding: 90px;
            padding-bottom: 300px;
            padding-top: 120px;
            h5 {
                margin-top: 0px;
            }
            .family-of {
                margin: 180px 120px;
            }
            .family-2 {
                margin-right: 0px;
                margin-left: 0px;
            }
            .name-desc {
                margin-bottom: 120px;
            }
            .name {
                margin-bottom: 30px;
            }
            .the-day, .closing {
                margin: 240px 0px;
            }
            .option {
                .radio-button {
                    width: 2.25em;
                    height: 2.25em;
                    margin: 20px;
                }
                label {
                    font-size: 36px;
                }
                #yes {
                    margin-right: 100px;
                }
            }
        }
    }

    .paper::after {
        content: "";
        height: 100%;
        background: url(/assets/images/texture.png) top center;
        background-repeat: no-repeat;
        background-size: 100% 25%;
        position: absolute;
        bottom: 250px;
        width: 100%;
        left: 0px;
        z-index: -1;
    }

    .back, .front {
        position: fixed;
        bottom: 0;
        display: inline-flex;
    }

    .back {
        width: 100%;
        img {
            width: 95%;
        }
    }

    .front {
        z-index: 2;
        bottom: -35px;
        width: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes out {
    from {top: 0px;}
    33% {top: 10px; right: 2px;}
    50% {top: 30px;}
    75% {top: 10px;}
    100% {top: 0px;}
}

p {
    font-size: 36px;
    line-height: 40px;
}

