/* ===================================================================
  BLOCKS
=================================================================== */
.block-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: $white;

  @include for-tablet-portrait-up {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include for-tablet-landscape-up {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include for-desktop-up {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.block-section__wrapper {
  position: relative;
  z-index: 10;
}

// Title
.block-section__title {
  margin: 0;
  margin-bottom: $gutter;

  @include for-tablet-portrait-up {
    margin-bottom: 60px;
  }

  @include for-tablet-landscape-up {
    @include font-size(36);
    line-height: em(49, 36);
    margin-bottom: 80px;

    &--large {
      @include font-size(48);
      line-height: em(66, 48);
    }
  }
}

// Footer
.block-section__footer {
  margin-top: $gutter;
  text-align: center;

  > a {
    min-width: 145px;
  }

  @include for-tablet-landscape-up {
    margin-top: $gutter * 2;

    > a {
      @include font-size(18);
      line-height: 1.45em;
    }
  }
}
